<!doctype html>
<html lang="en" prefix="og:http://ogp.me/ns#">
@using Grafika.Configurations;
@using Grafika.Web.Extensions;
@using Grafika.Utilities;
@using Microsoft.Extensions.Options;

@model Grafika.User
@inject IOptions<FacebookOAuthProviderConfiguration> facebookOpts
@inject IOptions<ContentConfiguration> contentOpts
@{
    var serverUrl = Url.ActionContext.HttpContext.Request.GetServerUrl().ToString();
    var contentUrl = contentOpts.Value.Url;
    var userUrl = Utility.CombineUrl(serverUrl, "users", Model.Id, "link");

    var thumbnailUrl = Utility.CombineUrl(serverUrl, "users", Model.Id, "avatar");
    var thumbnailWidth = 150;
    var thumbnailHeight = 150;
    var description = "See all Grafika animations created by " + Model.Username;
    var title = Model.Username;
}
<head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta name="description" content="@description" />
    <meta name="keyword" content="grafika,animation,animation maker,animation creator" />
    <meta name="author" content="Grafika Team" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Utility.CombineUrl(contentUrl, "apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Utility.CombineUrl(contentUrl, "favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Utility.CombineUrl(contentUrl, "favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Utility.CombineUrl(contentUrl, "manifest.json")">
    <link rel="mask-icon" href="@Utility.CombineUrl(contentUrl, "safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="theme-color" content="#008080">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta itemprop="image" content="@thumbnailUrl">
    <!-- Open Graph -->
    <meta property="og:site_name" content="Grafika" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@userUrl" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@thumbnailUrl" />
    <meta property="og:image:url" content="@thumbnailUrl" />
    <meta property="og:image:width" content="@thumbnailWidth" />
    <meta property="og:image:height" content="@thumbnailHeight" />
    <meta property="fb:app_id" content="@facebookOpts.Value.Id" />
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@grafikaapp" />
    <meta name="twitter:site:id" content="791028721138401281" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@thumbnailUrl" />

</head>
<body>
    <div>
        <p>Grafika is a really super simple animation for Android and the web</p>
        <a href="@contentUrl">@contentUrl</a>
    </div>
</body>
</html>