<!doctype html>
<html lang="en" prefix="og:http://ogp.me/ns#">
@using Grafika.Configurations;
@using Grafika.Web.Extensions;
@using Grafika.Utilities;
@using Microsoft.Extensions.Options;

@model Grafika.Animations.Animation
@inject IOptions<FacebookOAuthProviderConfiguration> facebookOpts
@inject IOptions<ContentConfiguration> contentOpts
@{
    var url = Url.ActionContext.HttpContext.Request.GetServerUrl().ToString();
    var contentConfig = contentOpts.Value;
    var animationUrl = Utility.CombineUrl(url, "animations", Model.Id, "seo");
    var thumbnailUrl = Utility.CombineUrl(url, "animations", Model.Id, "thumbnail");
    var userUrl = Utility.CombineUrl(url, "users", Model.UserId);
    var description = "Grafika Animation - " + (string.IsNullOrEmpty(Model.Description) ? Model.Name : Model.Description);
}
<head>
    <title>@Model.Name</title>
    <meta charset="utf-8" />
    <meta name="description" content="@description" />
    <meta name="keyword" content="grafika,animation,animation maker,animation creator" />
    <meta name="author" content="Grafika Team" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Utility.CombineUrl(contentConfig.Url, "apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Utility.CombineUrl(contentConfig.Url, "favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Utility.CombineUrl(contentConfig.Url, "favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Utility.CombineUrl(contentConfig.Url, "manifest.json")">
    <link rel="mask-icon" href="@Utility.CombineUrl(contentConfig.Url, "safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="theme-color" content="#008080">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@Model.Name">
    <meta itemprop="description" content="@description">
    <meta itemprop="image" content="@thumbnailUrl">
    <!-- Open Graph -->
    <meta property="og:site_name" content="Grafika" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@animationUrl" />
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@thumbnailUrl" />
    <meta property="og:image:url" content="@thumbnailUrl" />
    <meta property="og:image:width" content="@Model.Width" />
    <meta property="og:image:height" content="@Model.Height" />
    <meta property="fb:app_id" content="@facebookOpts.Value.Id" />
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@grafikaapp" />
    <meta name="twitter:site:id" content="791028721138401281" />
    <meta name="twitter:title" content="@Model.Name" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@thumbnailUrl" />

</head>
<body>
    <div>
        <p>Grafika is a really super simple animation for Android and the web</p>
    </div>
    <div>
        <p>Name: @Model.Name</p>
        <p>Description: @description</p>
        <p>
            By: <a href="@userUrl">@Model.Author</a>
        </p>
        <p>
            <img src="@thumbnailUrl" width="@Model.Width" height="@Model.Height" />
        </p>
    </div>

    <div>
        <p>
            Check out <a href="@animationUrl">@animationUrl</a>
        </p>
        <p>
            <a href="@contentUrl">@contentUrl</a>
        </p>
    </div>
</body>
</html>