<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500,700" />
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/player.css" type="text/css" rel="stylesheet" />
    @RenderSection("styles", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta itemprop="name" content="Grafika" />
    <meta itemprop="description" content="Grafika - Super simple animation maker for web and Android" />
    <!-- Open Graph -->
    <meta property="og:site_name" content="Grafika" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://grafika.bingzer.com" />
    <meta property="og:title" content="Grafika" />
    <meta property="og:description" content="Grafika - Super simple animation maker for web and Android" />
    <meta property="fb:app_id" content="1742692282614357" />
    <!-- twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@grafikaapp" />
    <meta name="twitter:site:id" content="791028721138401281" />
    <meta name="twitter:title" content="Grafika" />
    <meta name="twitter:description" content="Grafika - Super simple animation maker for web and Android" />
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript">
        var GrafikaApp;
        (function (GrafikaApp) {
            GrafikaApp.Configuration = {
                baseApiUrl: '@AppEnvironment.Default.Server.Url.TrimEnd("/".ToCharArray())'
            };
        })(GrafikaApp || (GrafikaApp = {}));
    </script>
    <!--[if IE]>
    <script type="text/javascript">
        var GrafikaApp;
        (function (GrafikaApp) {
            GrafikaApp.Configuration.shouldInflateFrames = true;
        })(GrafikaApp || (GrafikaApp = {}));
    </script>
    <![endif]-->
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="padding: 2px">
                    <img src="~/img/logo.png" alt="Grafika" title="Grafika" style="height: 48px" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/animations">Animations</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var userIdentity = User.Identity as IUserIdentity;
                        <li>
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                            <div class="dropdown-menu no-padding no-margin">
                                <div class="panel panel-default no-padding no-margin" style="width: 250px">
                                    <div class="panel-body text-center">
                                        <img src="@userIdentity.GetUserAvatarUrl()" alt="User avatar" width="48"/>
                                        <p class="row no-margin">
                                            <a href="/users/@userIdentity.Id" class="font-larger">@userIdentity.Name</a><br/>
                                            @userIdentity.Username
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="/animations/mine">My Animations</a>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="/accounts/logout" data-confirm="Are you sure you want to log out?">Log out</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="javascript: void(0)" data-dialog data-url="/accounts/login/form" data-size="medium">Login/Register</a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    @RenderBody()

    <!-- jQuery -->
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootbox.js"></script>
    <!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/js/scrollreveal.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    
    <!-- GrafikaApp.js stuffs -->
    <script src="~/js/GrafikaApp.js"></script>
    <script src="~/js/GrafikaApp.Partials.js"></script>
    <script src="~/js/GrafikaApp.Dialog.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
