@model Animation
@inject IOptions<ServerConfiguration> serverOpts;

@{
    var url = $"/animations/{Model.Id}";
    var animationThumbnailUrl = Utility.CombineUrl(serverOpts.Value.Url, "animations", Model.Id, "thumbnail");
    var userThumbnailUrl = Utility.CombineUrl(serverOpts.Value.Url, "users", Model.UserId, "avatar");
}

<div class="col-sm-6 col-md-4 col-lg-2">
    <div class="thumbnail" style="height: 284px">
        <a href="@url">
            <img src="@animationThumbnailUrl" alt="@Model.Name" style="max-height: 138px">
        </a>
        <div class="caption" style="font-size: smaller">
            <h4 style="margin-bottom: 2px">
                <a href="@url" class="font-stronger">
                    @Model.Name
                </a>
            </h4>
            <h6 style="margin-top: 0">
                <img src="@userThumbnailUrl" alt="@Model.Author" class="img-circle user-avatar"/>
                <a href="/users/@Model.UserId">
                    @Model.Author
                </a>
            </h6>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
