@model AnimationsViewModel
@{
    Layout = null;
}

<ul class="list-group">
    @foreach (var anim in Model.Animations)
    {
        var linkUrl = $"/animations/{anim.Id}/{anim.GetSlug()}";
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <a href="@linkUrl">
                        <img src="@anim.GetThumbnailUrl()" alt="@anim.Name" style="max-height: 48px; width: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@linkUrl" class="font-stronger">
                            @anim.Name
                        </a>
                    </h4>
                    <p style="margin-top: 0">
                        <img src="@anim.GetAuthorThumbnail()" alt="@anim.Author" class="img-circle user-avatar" />
                        <a href="/users/@anim.UserId">
                            @anim.Author
                        </a>
                    </p>
                    <p>@anim.Description</p>
                </div>
            </div>
        </li>
    }
</ul>