@model Animation
@{
    Layout = null;
    var animationUrl = Html.AnimationUrl(Model);
    var authorUrl = Html.UserUrl(Model?.UserId);
    var userIdentity = User.Identity as IUserIdentity;
    var canEdit = userIdentity?.Id == Model.UserId;
}
<article class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="thumbnail">
        <figure>
            <a class="animation-thumbnail-link" href="@animationUrl">
                <img class="animation-thumbnail" src="@Model.GetThumbnailUrl()" alt="@Model.Name">
            </a>
        </figure>
        <div class="caption">
            <header>
                <h4>
                    <a href="@animationUrl" class="font-stronger">@Model.Name</a>
                    @if (Model.IsPublic == false)
                    {
                        <i class="fa fa-lock font-smaller text-muted" title="This Model.tion is private. Can only be viewed by you"></i>
                    }
                </h4>
            </header>
            <p class="animation-author">
                <img src="@Model.GetAuthorThumbnail()" alt="@Model.Author" class="img-circle user-avatar" />
                <a href="@authorUrl">
                    @Model.Author
                </a>
            </p>
            <p class="animation-description">
                @if (Model.Description.IsNullOrEmptyOrWhitespace())
                {
                    <span class="text-muted">(no description)</span>
                }
                else
                {
                    @Model.Description
                }
            </p>
            <p class="animation-edit">
                @if (canEdit)
                {
                    <span class="pull-left font-smaller text-muted">
                        <a href="@animationUrl/edit" class="btn btn-xs btn-success">
                            Edit
                        </a>
                    </span>
                }
            </p>
            <p class="animation-views">
                <span class="font-smaller text-muted">
                    @Model.TotalFrame frames &#8226; @Model.Views views
                </span>
            </p>
        </div>
    </div>
</article>
