@model Animation
@{
    var linkUrl = $"/animations/{Model.Id}";
}

<div class="thumbnail" style="height: 272px; position: relative; padding: 0">
    <a href="@linkUrl" style="height: 138px">
        <img src="@Model.GetThumbnailUrl()" alt="@Model.Name" style="height: 138px; max-height: 138px; width: 100%">
    </a>
    <div class="caption" style="font-size: smaller">
        <h4 style="margin-bottom: 2px; margin-top: 2px">
            <a href="@linkUrl" class="font-stronger">@Model.Name</a>
            @if (Model.IsPublic == false)
            {
                <i class="fa fa-lock font-smaller text-muted" title="This animation is private. Can only be viewed by you"></i>
            }
        </h4>
        <h6 style="margin-top: 0">
            <img src="@Model.GetAuthorThumbnail()" alt="@Model.Author" class="img-circle user-avatar"/>
            <a href="/users/@Model.UserId">
                @Model.Author
            </a>
        </h6>
        <p>
            @if (Model.Description.IsNullOrEmptyOrWhitespace())
            {
                <span class="text-muted">(no description)</span>
            }
            else
            {
                @Model.Description
            }
        </p>
        <div style="position: absolute; bottom: 8px; right: 8px">
            <span class="font-smaller text-muted">
                @Model.TotalFrame frames &#8226; @Model.Views views
            </span>
        </div>
    </div>
</div>
