@model AnimationViewModel

@{ 
    var landscape = Model.Animation.Width >= Model.Animation.Height ? "landscape" : "portrait";
}

<header class="bg-dark page-heading"></header>
<section class="page-wrapper">
    <div id="watch-main" class="container-fluid">
        <div id="watch-content" class="col-lg-7">
            <div id="player" class="player player-width landscape">
                <div id="player-container" class="player-container player-width player-height @landscape">
                    <canvas id="player-canvas"></canvas>
                </div>
                <div id="player-controls" class="player-controls" style="display: none">
                    <div class="player-buttons">
                        <a href="javascript: void(0)" class="btn btn-sm" onclick="player.togglePlay().then(player.togglePlayCallback)">
                            <i class="play fa fa-play"></i>
                            <i class="pause fa fa-pause fa-spin" style="display: none"></i>
                        </a>
                        <a href="javascript: void(0)" class="btn btn-sm" onclick="player.grafika.nextFrame()">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a href="javascript: void(0)" class="btn btn-sm" onclick="player.grafika.previousFrame()">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div style="">
                <h1 class="animation-title">@Model.Animation.Name</h1>
                <h3 class="animation-author">
                    <img class="img-circle user-avatar user-avatar-lg" src="@Model.Animation.GetAuthorThumbnail()" alt="@Model.Animation.Author" />
                    <a href="@Model.Animation.GetAuthorUrl()">
                        @Model.Animation.Author
                    </a>
                </h3>
                <h4 class="animation-details">
                    <span style="margin-right: 8px">
                        <i class="text-muted fa fa-eye"></i>&nbsp;@Model.Animation.Views
                    </span>
                    <span style="margin-right: 8px">
                        <i class="text-muted fa fa-image"></i>&nbsp;@Model.Animation.TotalFrame
                    </span>
                    <span style="margin-right: 8px">
                        <i class="text-muted fa fa-calendar"></i>&nbsp;@Model.Animation.DateTimeModified
                    </span>
                </h4>
                <p class="animation-description">@Model.Animation.Description</p>
            </div>
        </div>
        <div id="watch-sidebar" class="col-lg-5">
            <div id="watch-ads">
                {{ This is ads }}
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#related" aria-controls="home" role="tab" data-toggle="tab">Related</a></li>
                <li role="presentation"><a href="#comments" aria-controls="profile" role="tab" data-toggle="tab">Comments</a></li>
            </ul>            
            <!-- Tab panes -->
            <div class="tab-content" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;">
                <div role="tabpanel" class="tab-pane active" id="related" data-partial="tab" data-url="/animations/@Model.Animation.Id/related?pageSize=5">
                    Loading...
                </div>
                <div role="tabpanel" class="tab-pane" id="comments">...</div>
            </div>
        </div>
    </div>
</section>

@section styles {
    <link href="~/css/player.css" type="text/css" rel="stylesheet" />
    <link href="~/css/animation-detail.css" type="text/css" rel="stylesheet" />
}
@section scripts {
    <script type="text/javascript" src="~/js/grafika.js"></script>
    <script type="text/javascript" src="~/js/GrafikaApp.Player.js"></script>
    <script type="text/javascript" defer>
        $(document).ready(function () {
            var player = new GrafikaApp.Player('#player-canvas');
            window.player = player;

            player.togglePlayCallback = function (res) {
                if (res.isPlaying) {
                    $('i.fa-play').hide();
                    $('i.fa-pause').show();
                }
                else {
                    $('i.fa-play').show();
                    $('i.fa-pause').hide();
                }
            }
            player.loadAnimation('@Model.Animation.Id').then(function () {
                $('#player-controls').show();
            });
        });
    </script>
}