@model AnimationViewModel

@{ 
    var landscape = Model.Animation.Width >= Model.Animation.Height ? "landscape" : "portrait";
    var playerViewModel = new AnimationPlayerViewModel
    {
        Animation = Model.Animation,
        AnimationId = Model.Animation.Id,
        AutoPlay = false
    };
    var relatedAnimationQueryOptions = new AnimationQueryOptions
    {
        RelatedToAnimationId = Model.Animation.Id,
        TemplateName = "_ListSmall",
        PageSize = 5
    };
}

<div class="bg-dark page-heading"></div>
<article id="watch" class="no-padding">
    <div id="player-wrapper" class="player-wrapper">
        @await Html.PartialAsync("_Player", playerViewModel)
    </div>
</article>
<header id="title" class="bg-dark">
    <div id="title-wrapper" class="title-container">
        <h1 class="animation-title">
            @Model.Animation.Name
            @if (Model.Animation.IsPublic == false)
            {
                <i class="fa fa-lock font-smaller" title="This animation is private. Can only be viewed by you"></i>
            }
        </h1>
    </div>
    <h2 class="animation-author font-larger">
        <img class="img-circle user-avatar user-avatar-md" src="@Model.Animation.GetAuthorThumbnail()" alt="@Model.Animation.Author" />
        <a href="/users/@Model.Animation.UserId">
            @Model.Animation.Author
        </a>
    </h2>
    <p class="animation-details">
        <span style="margin-right: 8px">
            <i class="fa fa-eye"></i>&nbsp;@Model.Animation.Views
        </span>
        <span style="margin-right: 8px">
            <i class="fa fa-image"></i>&nbsp;@Model.Animation.TotalFrame
        </span>
        <span style="margin-right: 8px">
            <i class="fa fa-calendar"></i>&nbsp;@Model.Animation.DateTimeModified
        </span>
    </p>
    <p class="animation-description">@Model.Animation.Description</p>
</header>
<div id="comment" class="page-wrapper">
    <div id="comment-wrapper" class="row">
        <article id="info-comment" class="col-md-8 col-lg-7">
            <header>
                <h2>Comments</h2>
            </header>
            <div id="comments-container" data-partial="lazy" data-url="@Model.Animation.GetCommentUrl()">
                <div class="text-center">
                    <button onclick="GrafikaApp.Partials.renderPartial('#comments-container')" class="btn btn-xl btn-default" title="Click to load comments">
                        Load comment
                    </button>
                </div>
            </div>
        </article>
        <aside id="info-sidebar" class="col-md-4 col-lg-5">
            <header>
                <h2 class="text-muted">Related</h2>
            </header>
            <div id="info-ads">
                {{ This is ads }}
            </div>
            <div id="watch-sidebar">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#related" aria-controls="related" role="tab" data-toggle="tab">Related</a></li>
                    <li role="presentation"><a href="#more" aria-controls="more" role="tab" data-toggle="tab">More</a></li>
                </ul>
                <!-- Tab panes -->
                <article class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="related" data-partial="tab" data-url="/animations/list" data-data="@relatedAnimationQueryOptions.ToJson()">
                        Loading...
                    </div>
                    <div role="tabpanel" class="tab-pane" id="more"style="padding: 8px;">
                        Loading Comments...
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>

@section styles {
<environment names="Development">
    <link href="~/css/GrafikaApp.Animation.Detail.css" rel="stylesheet" type="text/css" />
</environment>
<environment names="Production">
    <link href="~/css/GrafikaApp.Bundle.Animation.Detail.min.css" rel="stylesheet" type="text/css" />
</environment>
}